.popup {
    top: 0;
    left: 0;
    width: 80%;
    height: 80vh;
    background-color: #282c3452;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.popup-inner {
    width: 80%;
    height: 80vh;
    position: relative;
    padding: 20px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
}

.start-btn {
    width: 145px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background: mediumpurple;;
    font-size: larger;
    color: #1d2831;
}

.start-btn:hover {
    background: rgba(152, 137, 182, 0.934);
}