.popup {
    top: 0;
    left: 0;
    width: 80%;
    height: 80vh;
    background-color: #282c3452;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.popup-inner {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    height: 200px;
}
.popup-inner.start-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}