* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}


body {
  height: 100vh;
  background-color: #1D202C;
  font-family: 'PT Sans', sans-serif;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: #1D202C;
  }
}